.code-block {
  position: relative;
  background-color: var(--code-background);
  overflow-x: auto;
  margin-bottom: 20px;
  border-radius: 0.5rem;
}

.language-name {
  position: absolute;
  top: 7px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: #6a737d;
  line-height: 1;
  font-size: 13px;
  font-weight: 700;
  text-transform: lowercase;
}

pre {
  padding: 20px 0;
  margin: 0;
  overflow: auto;
}

code {
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: 500;
  padding: 3px 5px;
  background-color: #42b883;
  color: #000;
  border-radius: 0.25rem;
}

pre code {
  display: block;
  letter-spacing: 0.07rem;
  padding: 0px 24px;
  line-height: 1.5;
  background-color: transparent;
  font-weight: 600;
}
