.code-block {
}

.code-block-header {
  height: 30px;
  display: flex;
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #2e2e2e;
  border: 1px solid #567fbc;
}

.language-name {
  line-height: 1;
  align-self: center;
  margin-left: 10px;
  font-size: 13px;
  &::first-letter {
    text-transform: uppercase;
  }
}

pre {
  margin-top: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #1d1d1d;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

code {
  font-family: "CascadiaMono";
  font-size: 14px;
  font-weight: 400;
  padding: 3px 5px;
}

@media (max-width: 600px) {
  code {
    font-size: 10px;
    font-weight: 300;
  }
}

pre code {
  display: block;
  // overflow-x: auto;
  padding: 1em 1.5em;
  line-height: 1.5;
  color: #fff;
}

/* PreWrapper */
.aer {
  color: #fab387;
  // background-color: #1e1e2e;
}
/* Error */
.aer .err {
  color: #f38ba8;
}
/* LineLink */
.aer .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
/* LineTableTD */
.aer .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.aer .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineHighlight */
.aer .hl {
  background-color: #343442;
}
/* LineNumbersTable */
.aer .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7d5943;
}
/* LineNumbers */
.aer .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7d5943;
}
/* Line */
.aer .line {
  display: flex;
}
/* Keyword */
.aer .k {
  color: #cba6f7;
}
/* KeywordConstant */
.aer .kc {
  color: #cba6f7;
  font-style: italic;
}
/* KeywordDeclaration */
.aer .kd {
  color: #cba6f7;
}
/* KeywordNamespace */
.aer .kn {
  color: #cba6f7;
}
/* KeywordPseudo */
.aer .kp {
  color: #cba6f7;
  font-weight: bold;
}
/* KeywordReserved */
.aer .kr {
  color: #cba6f7;
}
/* KeywordType */
.aer .kt {
  color: #f9e2af;
}
.aer .m {
  color: #b4befe;
}
/* Name */
.aer .n {
  color: #b4befe;
}
/* NameAttribute */
.aer .na {
  color: #f9e2af;
}
/* NameBuiltin */
.aer .nb {
  font-style: italic;
}
/* NameBuiltinPseudo */
.aer .bp {
  color: #b4befe;
}
/* NameClass */
.aer .nc {
  color: #f9e2af;
}
/* NameConstant */
.aer .no {
  color: #f9e2af;
}
/* NameDecorator */
.aer .nd {
  color: #f5c2e7;
}
/* NameEntity */
.aer .ni {
  color: #f5c2e7;
}
/* NameException */
.aer .ne {
  color: #eba0ac;
}
/* NameFunction */
.aer .nf {
  color: #89dceb;
}
/* NameFunctionMagic */
.aer .fm {
  color: #b4befe;
}
/* NameLabel */
.aer .nl {
  color: #f9e2af;
}
/* NameNamespace */
.aer .nn {
  color: #f9e2af;
}
/* NameProperty */
.aer .py {
  color: #b4befe;
}
/* NameTag */
.aer .nt {
  color: #cba6f7;
}
/* NameVariableClass */
.aer .vc {
  color: #b4befe;
}
/* NameVariableGlobal */
.aer .vg {
  color: #b4befe;
}
/* NameVariableInstance */
.aer .vi {
  color: #b4befe;
}
/* NameVariableMagic */
.aer .vm {
  color: #b4befe;
}
/* LiteralString */
.aer .s {
  color: #a6e3a1;
}
/* LiteralStringAffix */
.aer .sa {
  color: #a6e3a1;
}
/* LiteralStringBacktick */
.aer .sb {
  color: #a6e3a1;
}
/* LiteralStringChar */
.aer .sc {
  color: #a6e3a1;
}
/* LiteralStringDelimiter */
.aer .dl {
  color: #a6e3a1;
}
/* LiteralStringDoc */
.aer .sd {
  color: #a6e3a1;
}
/* LiteralStringDouble */
.aer .s2 {
  color: #a6e3a1;
}
/* LiteralStringEscape */
.aer .se {
  color: #89b4fa;
}
/* LiteralStringHeredoc */
.aer .sh {
  color: #a6e3a1;
}
/* LiteralStringInterpol */
.aer .si {
  color: #a6e3a1;
}
/* LiteralStringOther */
.aer .sx {
  color: #a6e3a1;
}
/* LiteralStringRegex */
.aer .sr {
  color: #89b4fa;
}
/* LiteralStringSingle */
.aer .s1 {
  color: #a6e3a1;
}
/* LiteralStringSymbol */
.aer .ss {
  color: #a6e3a1;
}
/* Operator */
.aer .o {
  color: #89dceb;
}
/* OperatorWord */
.aer .ow {
  color: #89dceb;
  font-weight: bold;
}
/* Punctuation */
.aer .p {
  color: #cdd6f4;
}
/* Comment */
.aer .c {
  color: #585b70;
  font-style: italic;
}
/* CommentHashbang */
.aer .ch {
  color: #585b70;
  font-style: italic;
}
/* CommentMultiline */
.aer .cm {
  color: #585b70;
  font-style: italic;
}
/* CommentSingle */
.aer .c1 {
  color: #585b70;
  font-style: italic;
}
/* CommentSpecial */
.aer .cs {
  color: #585b70;
  font-style: italic;
}
/* CommentPreproc */
.aer .cp {
  color: #89b4fa;
  font-style: italic;
}
/* CommentPreprocFile */
.aer .cpf {
  color: #89b4fa;
  font-style: italic;
}
/* GenericDeleted */
.aer .gd {
  color: #eba0ac;
}
/* GenericEmph */
.aer .ge {
  font-style: italic;
}
/* GenericError */
.aer .gr {
  color: #eba0ac;
}
/* GenericHeading */
.aer .gh {
  color: #89dceb;
  font-weight: bold;
}
/* GenericInserted */
.aer .gi {
  color: #a6e3a1;
}
/* GenericPrompt */
.aer .gp {
  color: #6c7086;
  font-weight: bold;
}
/* GenericStrong */
.aer .gs {
  font-weight: bold;
}
/* GenericSubheading */
.aer .gu {
  color: #89dceb;
  font-weight: bold;
}
/* GenericTraceback */
.aer .gt {
  color: #eba0ac;
}
/* TextWhitespace */
.aer .w {
  color: #313244;
}
