.post_card {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 25px;
  padding: 10px 10px;
  border-radius: 0.25rem;

  &:nth-child(even) {
    background-color: #343434;
  }

  &:nth-child(odd) {
    border: 1px solid #2e2c29;
  }

  &.featured {
    background-color: #bc935611;
    border: 1px solid #bc9356;
    border-radius: 0.5rem;
    padding: 10px 10px;

    .post_card-category-info {
      background-color: #b3942c3d;
      border: 1px solid #bc9356;

      &:hover {
        background-color: #bc9356;
        border: 1px solid #bc9356;
      }
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.post_card-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  font-size: 23px;
  padding-top: 2px;
  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: #bc9356;
  }
}

.post_card-anchor {
  text-decoration: none;
  width: fit-content;
  margin-bottom: 7px;
}

.post_card-date {
  font-size: 15px;
  margin: 0;
  padding-left: 3px;
  margin-bottom: 12px;
}

.post_card-categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 6px;
  margin-bottom: 10px;
}

.post_card-category {
  text-decoration: none;
  display: grid;
}

.post_card-category-info {
  margin: 0;
  border-radius: 0.25rem;
  background-color: #242320;
  border: 1px solid #567fbc;
  font-size: 15px;
  line-height: 1;
  color: #fafafa;
  padding: 4px 8px 6px 8px;

  &:hover {
    background-color: #567fbc;
  }
}

.post_card-snippet-container {
  color: #fff;
}

.post_card-snippet {
  font-size: 15px;
  margin: 0;
  color: #fff;
  padding: 0 2px;
  line-height: 1.7;
}
