.post_card {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 25px;
  padding: 10px 10px;

  &.featured {
    background-color: #267061;
    border: 1px solid #56bc8d;
    border-radius: 0.2rem;
    padding: 10px 10px;

    .post_card-category-info {
      background-color: #000000;
      border: 1px solid #457567;

      &:hover {
        background-color: #457567;
        border: 1px solid #d9ddec;
      }
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.post_card-title {
  margin: 0;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  font-size: 25px;
  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: #56bc8d;
  }
}

.post_card-anchor {
  text-decoration: none;
  width: fit-content;
  margin-bottom: 7px;
}

.post_card-date {
  font-size: 13px;
  margin: 0;
  margin-bottom: 10px;
}

.post_card-categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 6px;
  margin-bottom: 10px;
}

.post_card-category {
  text-decoration: none;
  display: grid;
}

.post_card-category-info {
  margin: 0;
  border-radius: 0.25rem;
  background-color: #267061;
  border: 1px solid #56bc8d;
  font-size: 15px;
  line-height: 1;
  color: #fafafa;
  padding: 4px 8px 6px 8px;

  &:hover {
    background-color: #457567;
  }
}

.post_card-snippet-container {
  color: #fff;
}

.post_card-snippet {
  font-size: 16px;
  margin: 0;
  color: #fff;
}
