.post_card {
  display: grid;
  grid-template-columns: auto;
  // width: max-content;
  margin-bottom: 15px;
  padding: 10px 10px;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-items: center;
  text-align: center;

  &:nth-child(even) {
    background-color: #343434;
  }

  &:nth-child(odd) {
    border: 1px solid #2e2c29;
  }

  &.compact {
    margin: auto;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;

    .post_card-title {
      padding: 0;
      font-size: 20px;
    }

    .post_card-date {
      margin-bottom: 0;
      font-size: 13px;
    }
  }

  &.featured {
    background-color: #567fbc11;
    border: 1px solid #567fbc;
    border-radius: 0.5rem;

    .post_card-category-info {
      background-color: #567fbc5b;
      border: 1px solid transparent;

      &:hover {
        background-color: #567fbc;
      }
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.post_card-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  font-size: 18px;

  // column-gap: 10px;
}

.post_card-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 4px;
  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: #bc9356;
  }
}

.post_card-anchor {
  text-decoration: none;
  width: fit-content;
}

.post_card-date {
  margin: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
}

.post_card-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.post_card-category {
  text-decoration: none;
  display: grid;
}

.post_card-category-info {
  margin: 0;
  border-radius: 0.25rem;
  background-color: #242320;
  border: 1px solid #567fbc;
  font-size: 15px;
  line-height: 1;
  color: #fafafa;
  padding: 4px 8px 6px 8px;

  &:hover {
    background-color: #567fbc;
  }
}

.post_card-snippet-container {
  color: #fff;
}

.post_card-snippet {
  font-size: 15px;
  margin: 0;
  color: #fff;
  padding: 0 2px;
  line-height: 1.7;
}
