.header-container {
  margin-top: 20px;
  display: grid;
  justify-items: center;
}

// .header-logo-anchor {
// }

.header-logo {
  height: 50px;

  &:hover {
    .upper {
      fill: #bc9356;
    }

    .lower {
      fill: #567fbc;
    }
  }
}

.upper {
  fill: #567fbc;
  transition: all 0.6s;
}

.lower {
  fill: #bc9356;
  transition: all 0.6s;
}
