.header-container {
  margin-top: 20px;
  display: grid;
  justify-items: center;
}

.header-logo {
  height: 30px;
}

.upper {
  fill: #80aaee;
  transition: all 0.6s;
}

.lower {
  fill: #ca9ee6;
  transition: all 0.6s;
}
