.header-container {
  margin-top: 20px;
  display: grid;
  justify-items: center;
}

.header-logo {
  height: 30px;
}

.upper {
  fill: #7e8bff;
  transition: all 0.6s;
}

.lower {
  fill: #5e8cff;
  transition: all 0.6s;
}
