.navigation {
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 25px 0;
  background-color: #34426b;
  border: 1px solid #5b678a;
}

.navigation-links {
  width: fit-content;
  display: flex;
  align-items: center;
  // background-color: #34426b;
  // border: 1px solid #5b678a;
  // padding: 0 20px;
  // border-radius: 0.25rem;
}

.navigation-link {
  line-height: 1;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;

  &.active {
    // color: #7593ec;
  }
}
