.navigation {
  display: flex;
  justify-content: center;
  height: 50px;
  // border-top: 1px solid #bc9356;
  border-bottom: 1px solid #5bb86e;
  margin-bottom: 20px;
  background-color: #13131a;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;
  // border: 1px solid #56bc8d;
}

.navigation-links {
  width: fit-content;
  display: flex;
  align-items: center;
  // background-color: #34426b;
  // border: 1px solid #5b678a;
  // padding: 0 20px;
  // border-radius: 0.25rem;

  // a.active {
  //   background-color: #ca9ee6;
  // }
}

.navigation-link {
  line-height: 1;
  color: #cdcdcd;
  text-decoration: none;
  font-size: 16px;
  padding: 0.5rem;
  margin: 0 3px;
  border-radius: 0.25rem;

  // &.active {
  //   color: #567fbc;
  // }

  // &:hover {
  //   color: #bc9356;
  //   background-color: #b9b2a650;
  // }
}
