$c1: #5e8cff;
$c2: #ca9ee6;
$green: #42b883;
$green-light: #42d392;
$green-lighter: #35eb9a;
$green-dark: #33a06f;
$green-darker: #155f3e;
$blue: #3b8eed;
$blue-light: #549ced;
$blue-lighter: #50a2ff;
$blue-dark: #3468a3;
$blue-darker: #255489;
$yellow: #ffc517;
$yellow-light: #ffe417;
$yellow-lighter: #ffff17;
$yellow-dark: #e0ad15;
$yellow-darker: #bc9112;
$red: #ed3c50;
$red-light: #f43771;
$red-lighter: #fd1d7c;
$red-dark: #cd2d3f;
$red-darker: #ab2131;
$purple: #de41e0;
$purple-light: #e936eb;
$purple-lighter: #f616f8;
$purple-dark: #823c83;
$purple-darker: #602960;
$white-mute: #f1f1f1;
$indigo-soft: #476582;

:root {
  --html: #1b1b1f;
  --html-gradient: linear-gradient(45deg, #232330, #0f101c);

  --font-color: #fff;

  // Card
  --post_card-snippet: #d8d8d8;
  --category: #f1f1f1;
  --category-featured: #42b883;

  // Navbar
  --navbar: #17171b;
  --navbar-border: #535353;

  // ThemeToggle
  --theme-toggle-border: #a6a6a6;
  --theme-toggle-background: #161414;
  --theme-toggle-color-hover: #42b883;
  --theme-toggle-border-hover: #42b883;
  --theme-toggle-check-background: #383838;

  // Code blocks
  --code-background: #161618;

  // Code Syntax
}

[data-theme="light"] {
  --html: #fff;
  --html-gradient: linear-gradient(45deg, #e0e0f0, #c8cdff);

  --font-color: #000000;

  .posts-label,
  .post_card-title,
  .post_card-date,
  .post_card-category-info,
  .post_card-snippet,
  .blog-post-markdown p,
  .blog-post-markdown li {
    font-weight: 500;
  }

  // Navbar
  --navbar: #e5e5f3;
  --navbar-border: #c5c5c5;

  // ThemeToggle
  --theme-toggle-border: #a6a6a6;
  --theme-toggle-background: #eff0f3;
  --theme-toggle-color-hover: #42b883;
  --theme-toggle-check-background: #dbdbdb;

  --post_card-snippet: #242424;

  // Code blocks
  --code-background: #f1f1f1;
}

:root {
  pre code {
    color: #fff;
  }

  /* PreWrapper */
  .chroma {
    color: #fff;
    // background-color: #1e1e2e;
  }
  .chroma .line {
    display: flex;
    padding-bottom: 2px;
  }
  .chroma .ln {
    width: 20px;
    text-align: center;
    color: #838b9e;
    font-weight: 400;
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 1em;
    padding: 0 0.4em 0 0.4em;
  }
  /* Error */
  .chroma .err {
    color: #f38ba8;
  }
  /* LineLink */
  .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  /* LineTableTD */
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineHighlight */
  .chroma .hl {
    background-color: #343442;
  }
  /* LineNumbersTable */
  .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7d5943;
  }
  /* Keyword */
  .chroma .k {
    color: #cba6f7;
  }
  /* KeywordConstant */
  .chroma .kc {
    color: #cba6f7;
    font-style: italic;
  }
  /* KeywordDeclaration */
  .chroma .kd {
    color: #cba6f7;
  }
  /* KeywordNamespace */
  .chroma .kn {
    color: #cba6f7;
  }
  /* KeywordPseudo */
  .chroma .kp {
    color: #cba6f7;
    font-weight: bold;
  }
  /* KeywordReserved */
  .chroma .kr {
    color: #cba6f7;
  }
  /* KeywordType */
  .chroma .kt {
    color: #f9e2af;
  }
  .chroma .m {
    color: #b4befe;
  }
  /* Name */
  .chroma .n {
    color: #b4befe;
  }
  /* NameAttribute */
  .chroma .na {
    color: #f9e2af;
  }
  /* NameBuiltin */
  .chroma .nb {
    font-style: italic;
  }
  /* NameBuiltinPseudo */
  .chroma .bp {
    color: #b4befe;
  }
  /* NameClass */
  .chroma .nc {
    color: #f9e2af;
  }
  /* NameConstant */
  .chroma .no {
    color: #f9e2af;
  }
  /* NameDecorator */
  .chroma .nd {
    color: #f5c2e7;
  }
  /* NameEntity */
  .chroma .ni {
    color: #f5c2e7;
  }
  /* NameException */
  .chroma .ne {
    color: #eba0ac;
  }
  /* NameFunction */
  .chroma .nf {
    color: #89dceb;
  }
  /* NameFunctionMagic */
  .chroma .fm {
    color: #b4befe;
  }
  /* NameLabel */
  .chroma .nl {
    color: #f9e2af;
  }
  /* NameNamespace */
  .chroma .nn {
    color: #f9e2af;
  }
  /* NameProperty */
  .chroma .py {
    color: #b4befe;
  }
  /* NameTag */
  .chroma .nt {
    color: #cba6f7;
  }
  /* NameVariableClass */
  .chroma .vc {
    color: #b4befe;
  }
  /* NameVariableGlobal */
  .chroma .vg {
    color: #b4befe;
  }
  /* NameVariableInstance */
  .chroma .vi {
    color: #b4befe;
  }
  /* NameVariableMagic */
  .chroma .vm {
    color: #b4befe;
  }
  /* LiteralString */
  .chroma .s {
    color: #a6e3a1;
  }
  /* LiteralStringAffix */
  .chroma .sa {
    color: #a6e3a1;
  }
  /* LiteralStringBacktick */
  .chroma .sb {
    color: #a6e3a1;
  }
  /* LiteralStringChar */
  .chroma .sc {
    color: #a6e3a1;
  }
  /* LiteralStringDelimiter */
  .chroma .dl {
    color: #a6e3a1;
  }
  /* LiteralStringDoc */
  .chroma .sd {
    color: #a6e3a1;
  }
  /* LiteralStringDouble */
  .chroma .s2 {
    color: #a6e3a1;
  }
  /* LiteralStringEscape */
  .chroma .se {
    color: #89b4fa;
  }
  /* LiteralStringHeredoc */
  .chroma .sh {
    color: #a6e3a1;
  }
  /* LiteralStringInterpol */
  .chroma .si {
    color: #a6e3a1;
  }
  /* LiteralStringOther */
  .chroma .sx {
    color: #a6e3a1;
  }
  /* LiteralStringRegex */
  .chroma .sr {
    color: #89b4fa;
  }
  /* LiteralStringSingle */
  .chroma .s1 {
    color: #a6e3a1;
  }
  /* LiteralStringSymbol */
  .chroma .ss {
    color: #a6e3a1;
  }
  /* Operator */
  .chroma .o {
    color: #89dceb;
  }
  /* OperatorWord */
  .chroma .ow {
    color: #89dceb;
    font-weight: bold;
  }
  /* Punctuation */
  .chroma .p {
    color: #cdd6f4;
  }
  /* Comment */
  .chroma .c {
    color: #585b70;
    font-style: italic;
  }
  /* CommentHashbang */
  .chroma .ch {
    color: #585b70;
    font-style: italic;
  }
  /* CommentMultiline */
  .chroma .cm {
    color: #585b70;
    font-style: italic;
  }
  /* CommentSingle */
  .chroma .c1 {
    color: #585b70;
    font-style: italic;
  }
  /* CommentSpecial */
  .chroma .cs {
    color: #585b70;
    font-style: italic;
  }
  /* CommentPreproc */
  .chroma .cp {
    color: #89b4fa;
    font-style: italic;
  }
  /* CommentPreprocFile */
  .chroma .cpf {
    color: #89b4fa;
    font-style: italic;
  }
  /* GenericDeleted */
  .chroma .gd {
    color: #eba0ac;
  }
  /* GenericEmph */
  .chroma .ge {
    font-style: italic;
  }
  /* GenericError */
  .chroma .gr {
    color: #eba0ac;
  }
  /* GenericHeading */
  .chroma .gh {
    color: #89dceb;
    font-weight: bold;
  }
  /* GenericInserted */
  .chroma .gi {
    color: #a6e3a1;
  }
  /* GenericPrompt */
  .chroma .gp {
    color: #6c7086;
    font-weight: bold;
  }
  /* GenericStrong */
  .chroma .gs {
    font-weight: bold;
  }
  /* GenericSubheading */
  .chroma .gu {
    color: #89dceb;
    font-weight: bold;
  }
  /* GenericTraceback */
  .chroma .gt {
    color: #eba0ac;
  }
  /* TextWhitespace */
  .chroma .w {
    color: #313244;
  }
}

[data-theme="light"] {
  pre code {
    color: #6a737d;
  }
  /* PreWrapper */
  .chroma {
    color: #272822;
    background-color: #fafafa;
  }
  /* Error */
  .chroma .err {
    color: #960050;
    background-color: #1e0010;
  }
  /* LineLink */
  .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  /* LineTableTD */
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineHighlight */
  .chroma .hl {
    background-color: #e1e1e1;
  }
  /* LineNumbersTable */
  .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* LineNumbers */
  .chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* Line */
  .chroma .line {
    display: flex;
  }
  /* Keyword */
  .chroma .k {
    color: #00a8c8;
  }
  /* KeywordConstant */
  .chroma .kc {
    color: #00a8c8;
  }
  /* KeywordDeclaration */
  .chroma .kd {
    color: #00a8c8;
  }
  /* KeywordNamespace */
  .chroma .kn {
    color: #f92672;
  }
  /* KeywordPseudo */
  .chroma .kp {
    color: #00a8c8;
  }
  /* KeywordReserved */
  .chroma .kr {
    color: #00a8c8;
  }
  /* KeywordType */
  .chroma .kt {
    color: #00a8c8;
  }
  /* Name */
  .chroma .n {
    color: #111111;
  }
  /* NameAttribute */
  .chroma .na {
    color: #75af00;
  }
  /* NameBuiltin */
  .chroma .nb {
    color: #111111;
  }
  /* NameBuiltinPseudo */
  .chroma .bp {
    color: #111111;
  }
  /* NameClass */
  .chroma .nc {
    color: #75af00;
  }
  /* NameConstant */
  .chroma .no {
    color: #00a8c8;
  }
  /* NameDecorator */
  .chroma .nd {
    color: #75af00;
  }
  /* NameEntity */
  .chroma .ni {
    color: #111111;
  }
  /* NameException */
  .chroma .ne {
    color: #75af00;
  }
  /* NameFunction */
  .chroma .nf {
    color: #75af00;
  }
  /* NameFunctionMagic */
  .chroma .fm {
    color: #111111;
  }
  /* NameLabel */
  .chroma .nl {
    color: #111111;
  }
  /* NameNamespace */
  .chroma .nn {
    color: #111111;
  }
  /* NameOther */
  .chroma .nx {
    color: #75af00;
  }
  /* NameProperty */
  .chroma .py {
    color: #111111;
  }
  /* NameTag */
  .chroma .nt {
    color: #f92672;
  }
  /* NameVariable */
  .chroma .nv {
    color: #111111;
  }
  /* NameVariableClass */
  .chroma .vc {
    color: #111111;
  }
  /* NameVariableGlobal */
  .chroma .vg {
    color: #111111;
  }
  /* NameVariableInstance */
  .chroma .vi {
    color: #111111;
  }
  /* NameVariableMagic */
  .chroma .vm {
    color: #111111;
  }
  /* Literal */
  .chroma .l {
    color: #ae81ff;
  }
  /* LiteralDate */
  .chroma .ld {
    color: #d88200;
  }
  /* LiteralString */
  .chroma .s {
    color: #d88200;
  }
  /* LiteralStringAffix */
  .chroma .sa {
    color: #d88200;
  }
  /* LiteralStringBacktick */
  .chroma .sb {
    color: #d88200;
  }
  /* LiteralStringChar */
  .chroma .sc {
    color: #d88200;
  }
  /* LiteralStringDelimiter */
  .chroma .dl {
    color: #d88200;
  }
  /* LiteralStringDoc */
  .chroma .sd {
    color: #d88200;
  }
  /* LiteralStringDouble */
  .chroma .s2 {
    color: #d88200;
  }
  /* LiteralStringEscape */
  .chroma .se {
    color: #8045ff;
  }
  /* LiteralStringHeredoc */
  .chroma .sh {
    color: #d88200;
  }
  /* LiteralStringInterpol */
  .chroma .si {
    color: #d88200;
  }
  /* LiteralStringOther */
  .chroma .sx {
    color: #d88200;
  }
  /* LiteralStringRegex */
  .chroma .sr {
    color: #d88200;
  }
  /* LiteralStringSingle */
  .chroma .s1 {
    color: #d88200;
  }
  /* LiteralStringSymbol */
  .chroma .ss {
    color: #d88200;
  }
  /* LiteralNumber */
  .chroma .m {
    color: #ae81ff;
  }
  /* LiteralNumberBin */
  .chroma .mb {
    color: #ae81ff;
  }
  /* LiteralNumberFloat */
  .chroma .mf {
    color: #ae81ff;
  }
  /* LiteralNumberHex */
  .chroma .mh {
    color: #ae81ff;
  }
  /* LiteralNumberInteger */
  .chroma .mi {
    color: #ae81ff;
  }
  /* LiteralNumberIntegerLong */
  .chroma .il {
    color: #ae81ff;
  }
  /* LiteralNumberOct */
  .chroma .mo {
    color: #ae81ff;
  }
  /* Operator */
  .chroma .o {
    color: #f92672;
  }
  /* OperatorWord */
  .chroma .ow {
    color: #f92672;
  }
  /* Punctuation */
  .chroma .p {
    color: #111111;
  }
  /* Comment */
  .chroma .c {
    color: #75715e;
  }
  /* CommentHashbang */
  .chroma .ch {
    color: #75715e;
  }
  /* CommentMultiline */
  .chroma .cm {
    color: #75715e;
  }
  /* CommentSingle */
  .chroma .c1 {
    color: #75715e;
  }
  /* CommentSpecial */
  .chroma .cs {
    color: #75715e;
  }
  /* CommentPreproc */
  .chroma .cp {
    color: #75715e;
  }
  /* CommentPreprocFile */
  .chroma .cpf {
    color: #75715e;
  }
  /* GenericEmph */
  .chroma .ge {
    font-style: italic;
  }
  /* GenericStrong */
  .chroma .gs {
    font-weight: bold;
  }
}
