$c1: #5e8cff;
$c2: #ca9ee6;
$green: #42b883;
$green-light: #42d392;
$green-lighter: #35eb9a;
$green-dark: #33a06f;
$green-darker: #155f3e;
$blue: #3b8eed;
$blue-light: #549ced;
$blue-lighter: #50a2ff;
$blue-dark: #3468a3;
$blue-darker: #255489;
$yellow: #ffc517;
$yellow-light: #ffe417;
$yellow-lighter: #ffff17;
$yellow-dark: #e0ad15;
$yellow-darker: #bc9112;
$red: #ed3c50;
$red-light: #f43771;
$red-lighter: #fd1d7c;
$red-dark: #cd2d3f;
$red-darker: #ab2131;
$purple: #de41e0;
$purple-light: #e936eb;
$purple-lighter: #f616f8;
$purple-dark: #823c83;
$purple-darker: #602960;
$white-mute: #f1f1f1;
$indigo-soft: #476582;

:root {
  --html: #1b1b1f;
  --html-gradient: linear-gradient(45deg, #232330, #0f101c);

  --font-color: #fff;

  // Card
  --post_card-snippet: #d8d8d8;
  --category: #f1f1f1;
  --category-featured: #42b883;

  // Navbar
  --navbar: #17171b;
  --navbar-border: #535353;

  // ThemeToggle
  --theme-toggle-border: #a6a6a6;
  --theme-toggle-background: #161414;
  --theme-toggle-color-hover: #42b883;
  --theme-toggle-border-hover: #42b883;
  --theme-toggle-check-background: #383838;

  // Code blocks
  --code-background: #161618;

  // Code Syntax

  .shiki,
  .shiki span {
    color: var(--theme-dark);
  }
}

[data-theme="light"] {
  --html: #fff;
  --html-gradient: linear-gradient(45deg, #e0e0f0, #c8cdff);

  --font-color: #000000;

  .posts-label,
  .post_card-title,
  .post_card-date,
  .post_card-category-info,
  .post_card-snippet,
  .blog-post-markdown p,
  .blog-post-markdown li {
    font-weight: 500;
  }

  // Navbar
  --navbar: #e5e5f3;
  --navbar-border: #c5c5c5;

  // ThemeToggle
  --theme-toggle-border: #a6a6a6;
  --theme-toggle-background: #eff0f3;
  --theme-toggle-color-hover: #42b883;
  --theme-toggle-check-background: #dbdbdb;

  --post_card-snippet: #242424;

  // Code blocks
  --code-background: #f1f1f1;

  .shiki,
  .shiki span {
    color: var(--theme-light);
    font-weight: 600;
  }
}
