@import "./tooling/_fonts.scss";

html {
  font-family: "Inter";
  -webkit-tap-highlight-color: transparent;
  background: #1b1b1b;
  color: #fff;
  min-height: 100vh;

  &:focus {
    outline: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.admin-login-container {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

.admin-logo {
  height: 80px;
  margin-bottom: 30px;
}

.admin-login-form-container {
  max-width: 300px;
  background-color: #b3942c3d;
  padding: 10px 20px 12px 20px;
  border-radius: 0.25rem;
  border: 1px solid #bc9356;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.admin-input {
  background: #242320;
  color: #ffffff;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  line-height: 1.3;
  font-size: 1rem;
  width: 100%;
  align-self: center;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 12px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.08rem #567fbc;
  }

  &:hover {
    outline: 0;
    box-shadow: 0 0 0 0.08rem #567fbc;
  }
}

.admin-label {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.admin-button {
  color: #fff;
  background: #242320;
  border: 1px solid #242320;
  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  &:focus {
    outline: 0;
  }

  &:hover {
    outline: 0;
    border: 1px solid #567fbc;
    color: #567fbc;
  }
}
