@import "./tooling/_fonts.scss";
@import "./tooling/_variables.scss";
// @import "./tooling/_syntax.scss";

html {
  font-family: "Inter";
  -webkit-tap-highlight-color: transparent;
  background: #181a1b;
  color: #fff;
  min-height: 100vh;

  &:focus {
    outline: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.topper {
  display: grid;
  // background-color: #181920;
  // border-bottom: 1px solid #09090c;
  // margin-bottom: 25px;
}

// includes
@import "./includes/_header.scss";
@import "./includes/_navbar.scss";

// views
@import "./views/_index.scss";
@import "./views/_blog_post.scss";

@import "./components/_code_blocks.scss";
