@import "../components/post_card.scss";

.main-index-container {
  display: grid;
  margin: 0 5%;
  //   max-width: 56rem;
}

.posts-container {
  justify-self: center;
  max-width: 56rem;
}

.featured-posts-container {
  // background-color: #581166;
  // padding: 10px 10px;
  margin-bottom: 35px;
  border-radius: 0.25rem;
  // border: 1px solid #a430da;
}

.posts-label {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
}

.non_featured-posts-container {
  // padding: 10px 10px;
}
